
<h2>Welcome, <%= @user.name %>!</h2>


<a href="/logout"><h3 id="logout">Logout</h3></a>


<h3>Let's Get Started!</h3>
<p>To create a new Dream Home build, Select the <strong>"Create New"</strong> button. <br>
To View a full list of all builds created by you, select the <strong>"View Your Builds"</strong> button.</p>


<a href="/my-builds/create-new"><button id="create-button">Create New</button></a>
<a href="/my-builds"><button id="view-button">View Your Builds</button></a>
