
<h2>Welcome, <%= @user.name %>!</h2>


<a href="/logout"><h3 id="logout">Logout</h3></a>

<h3>Your Dream Home Builds:</h3>

<a href="/my-builds"><button id="view-button">View Your Builds</button></a>
<a href="/my-builds/create-new"><button id="create-button">Create New</button></a>
