<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h1 id="home-header">Dream Home Builders</h1>

    <div class="content">
      <p>Welcome to Dream Home Builders! <br>We are experts at building the home of your dreams. Use our platform's
       cutting edge technology to deign your new Home!
       </p>
    </div>

    
    <div class="content-2">

      <h3>Sign Up!</h3>
      <form action="/signup" method="POST">
        <input type="text" name="name" id="name" placeholder="Name" required><br>
        <input type="email" name="email" id="email" placeholder="Email" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <input type="submit" value="Get Started!">
        
      </form>
    </div>

  </div>
</div>
